@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Bungee;
  }

  .home_slogen::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    min-height: 49px;
    background: url("/src/assets/im_slogen_ripple.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
    transform: rotate(180deg);
    background-size: cover;
  }

  .home_slogen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: url("/src/assets/im_bg_slogen.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    z-index: 0;
  }

  .home_subsview::before {
    content: "";
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    min-height: 20%;
    background: url("/src/assets/im_bg_subsv.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .home_subsview::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    min-height: 49px;
    background: url("/src/assets/im_gb_subs_ripple.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    transform: rotate(180deg);
    background-size: cover;
  }

  .home_meet::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: url("/src/assets/bg_meet.png");
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 0;
  }

  .home_meet::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 78px;
    background: url("/src/assets/bg_meet_gs.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .home_diaries::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: url("/src/assets/im_bg_diaries.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .home_diaries::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    min-height: 72px;
    background: url("/src/assets/im_diaries_gs.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .home_partnership::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: url("/src/assets/im_partner_top.png");
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
  }

  .home_partnership::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    min-height: 271px;
    background: url("/src/assets/im_partner_gs.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .partnership_btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("/src/assets/im_btn.png") no-repeat center;
    z-index: -1;
  }

  .wolfoo_footer::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 141px;
    width: 100%;
    background: url("/src/assets/im_ft_gs.png") no-repeat center;
    transform: translateY(40%);
  }

  .wolfoo_footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: url("/src/assets/im_ft_bt.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .animated_custom {
    animation: updown 3s linear infinite;
  }

  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .time_icon {
    width: unset !important;
  }

  .diaries_info_title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .diaries_info_description {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .about_us_banner {
    background: url("/src/assets/im_bg_about_us.png") no-repeat center;
    background-size: cover;
    height: 558px;
    z-index: 2;
  }

  .about-us-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50%;
    background: url("/src/assets/im_bg_ab_top.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }

  .about-us-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50%;
    background: url("/src/assets/im_bg_ab_bt.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .characters-banner {
    background: url("./assets/banner-bg.png");
    background-size: cover;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .characters-main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 15%;
    background: url("/src/assets/main-before-pattern.png");
    background-repeat: repeat-y;
    background-size: 100%;
    z-index: 1;
  }

  .characters-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 15%;
    background: url("/src/assets/main-before-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    z-index: 1;
  }

  .charac-thumn-svg {
    transition: all 0.3s ease;
  }

  .charac-detail {
    pointer-events: all;
    transform: translateY(0px);
    transition: all 0.3s ease;
    opacity: 1;
    display: flex !important;
    align-items: center;
    position: absolute;
    left: 5%;
    right: 5%;
    color: #fff;
  }

  .charac_description_bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow: visible;
    stroke: transparent;
    stroke-width: 8px;
    transition: all 0.3s ease;
    z-index: 0;
  }

  .diaries-banner {
    background: url("./assets//bg_banner_diaries.png");
    background-size: cover;
    height: 414px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .diaries-items::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50%;
    background: url("/src/assets/bg_2.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
  }

  .diaries-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50%;
    background: url("/src/assets/bg_1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    z-index: -1;
  }
}
